# senha sudo pcs da rede
NCC_ADMIN_PASSWORD=

#login e senha do software
AUTH_USERNAME=
AUTH_PASSWORD=

# verificação de disponibilidade (opcionais)
PING_TIMEOUT_MS=1000
PING_TIMEOUT_SEGUNDOS=1
TIMEOUT_PORTA_SSH_SEGUNDOS=2
